$main-colors: (
  "primary": #131f2a,
  "secondary": #46d7fc,
  "tertiary": #0c86e4
);

$basic-colors: (
  "light": #ffffff,
  "dark": #0e0e0e
);

$font-colors: (
  "primary": #121213,
  "secondary": #579bf8
);

$font-basic-colors: (
  "light": #ffffff,
  "dark": #0e0f10
);