$main-colors: (
  "primary": #373b3f,
  "secondary": #46d7fc,
  "tertiary": #3543e8
);

$basic-colors: (
  "light": #ffffff,
  "dark": #0e0e0e
);

$font-colors: (
  "primary": #121213,
  "secondary": #579bf8
);

$font-basic-colors: (
  "light": #ffffff,
  "dark": #0e0f10
);