$main-colors: (
  "primary": #0f1a1f,
  "secondary": #248fab,
  "tertiary": #0c86e4
);

$basic-colors: (
  "light": #ffffff,
  "dark": #0e0e0e
);

$font-colors: (
  "primary": #121213,
  "secondary": #579bf8
);

$font-basic-colors: (
  "light": #ffffff,
  "dark": #0e0f10
);