@import './../../assets/SCSS/colors.scss';
@import './../../assets/SCSS/fonts.scss';

.main-head-section {
	display: flex;
  background-color: map-get($main-colors, "primary");
	height: 40vh;
	justify-content: center;
  align-items: center;

	h1 {
		color: map-get($font-basic-colors, "light");
		text-transform: capitalize;
		letter-spacing: -2px;
		line-height: 0.95;
		width: 30%;
		text-align: center;
		font: {
      size: 65px;
      weight: 900;
      family: $font-primary;
    }
	}
}

.main-search-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -25px;

	form {
		display: flex;
	}

	input {
		color: map-get($font-basic-colors, "dark");
		font: {
      size: 18px;
      weight: 400;
      family: $font-secondary;
    }
    padding: 12px 30px;
    width: 30vw;
    border-radius: 30px;
	}

	button {
		color: map-get($font-basic-colors, "light");
		background-color: map-get($main-colors, "tertiary");
		border: none;
		margin: 0 15px 0 15px;
		min-width: 12vw;
		border-radius: 30px;
		font: {
      size: 18px;
      weight: 700;
      family: $font-secondary;
    }

    &:hover {
      cursor: pointer;
    }
	}
}

.main-stream-section {
	display: flex;
  flex-direction: column;
  align-items: center;
  background-color: map-get($basic-colors, "light");
  height: 40vh;
  margin-top: -27px;

  h2 {
    color: map-get($font-basic-colors, "dark");
    margin: 65px 0 30px 0;
    text-transform: capitalize;
    letter-spacing: -2px;
    line-height: 0.9;
    width: 30%;
    text-align: center;
    font: {
      size: 50px;
      weight: 500;
      family: $font-primary;
    }
  }

  button {
    color: map-get($font-basic-colors, "light");
    border: none;
    min-width: 15vw;
    border-radius: 30px;
    border: 1px solid map-get($main-colors, "tertiary");
    color: map-get($main-colors, "tertiary");
    padding: 10px;
    font: {
      size: 18px;
      weight: 400;
      family: $font-secondary;
    }

    &:hover {
      cursor: pointer;
    }
  }
}